@media screen and (max-width:480px) {
    #image {
        height: 480px;
    }

    .bg-image h2 {
        font-size: 23px;
    }

    .bg-image h1 {
        font-size: 30px;
        margin: 57px 0px 0px 0px;

    }

    .bg-image p {
        font-size: 20px;
    }

    .bg-image button {
        padding: 10px 18px;
        font-size: 14px;
    }

    #product .item {
        display: inline;
    }

    #product .container h2 {
        font-size: 24px;
    }

    #product .item .photo {
        width: 80%;
        margin: 16px;
        padding: 20px;
    }

    .container .photo img {
        width: 100%;
        height: 200px;
    }

    .container .photo p {
        height: 12px;
        padding: 19px;
        font-size: 13px;
        width: 17px;
        font-weight: 500;
        margin-bottom: 12px;
        margin-left: -12px;
    }

    .container .photo h5 {
        font-size: 20px;
        margin-bottom: -39px;
        margin-left: -10px;
    }

    .container .photo h6 {
        font-size: 20px;
        margin-left: 161px;
        margin-bottom: -31px;
        padding: 10px;
    }

    .item .photo span {
        margin-left: 230px;
        font-size: 17px;
    }

    .container .btnn button {
        border-radius: 5px;
        margin: 23px 0px;
        font-size: 12px;
        font-weight: 300;
        padding: 5px 21px;
    }

    #img-box .row {
        display: flex;
        justify-content: space-between;
    }

    #img-box .row img {
        width: 25%;
        box-shadow: 4px 3px;
        margin: 0px;
        padding: 12px;
        margin-top: 33px;
    }

    #img-box .row .left h6 {
        font-weight: 200;
        font-size: 14px;
        margin-top: 27px;
        margin-bottom: 14px;
        margin-left: -191px;
    }

    #img-box .row .left p {
        margin-left: -192px;
        font-size: 8px;
    }

    .row .left button {
        margin-top: 17px;
        margin-left: -191px;
        padding: 2px 12px;
    }

    #class {
        margin-top: -90px;
    }

    #class .first h2 {
        margin-top: -110px;
        font-size: 14px;
        margin-left: 10px;
    }

    #class .first button {
        margin-left: 12px;
        margin-top: 10px;
        padding: 3px 11px;
        font-size: 8px;
    }

    #class .three .second .one h2 {
        font-size: 14px;
        margin-right: -5px;
    }

    #class .three .second .one button {
        padding: 3px 11px;
        font-size: 5px;
        margin-top: -52px;
        margin-right: -26px;
    }

    #class .three .second .two h2 {
        margin: -210px 0px -8px 19px;
        font-size: 10px;
    }

    #class .three .second .two button {
        font-size: 8px;
        padding: 2px 9px;
        margin-top: -61px;
        margin-left: 20px;
    }

    #div {
        margin-top: -44px;
    }

    #div h2 {
        font-size: 14px;
    }

    .main-box h4 {
        padding: 3px 3px;
    }

    .detail-box h5 {
        font-size: 6px;
        margin: 18px;
        font-weight: 900;
    }

    .detail-box p {

        font-size: 5px;
        margin: 15px;
        margin-top: -11px;
    }

    .detail-box button {
        margin-left: 14px;
        padding: 0px 0px;
    }

    #info .client {
        width: 100%;
    }

    #info h2 {
        font-size: 14px;
    }

    #info .client {
        margin-left: 0px;
    }

    .client h6 {
        font-size: 14px;
    }

    .client p {
        margin-top: 12px;
        font-size: 6px;
        margin-left: 14px;
        margin-right: 14px;
    }

    .client i {
        font-size: 14px;

        margin-top: 5px;
    }

    .b .b1 i {
        padding: 8px;
        margin: -429px;
    }

    .b2 i {
        margin: -394px;
        padding: 8px;
    }
}